@model CreateProductViewModel
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- <link rel="stylesheet" href="css/all.min.css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/owl.theme.default.min.css" /> -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/m.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="~/css/m.css"/>
</head>



<h1 style="color: #FF6700;"> اضافة منتج جديد </h1>
<hr />


<form asp-action="Create" enctype="multipart/form-data">

     <input   asp-for="WorkerId" type="hidden" /> 

    <div class="row">
       <div class="col-md-6">
          <div class="form-group">
            <label  class="lable-control" style="color: #FF6700;"> اسم المنتج</label>
             <input required  asp-for="Name"  class="form-control" />
         </div>
        </div>

      <div class="col-md-6">
          <div class="form-group">
            <label  class="lable-control" style="color: #FF6700;">سعر المنتج  </label>
             <input required  asp-for="Price"  class="form-control" />
         </div>
          </div>
  


       <div class="col-md-6">
          <div class="form-group">
            <label  class="lable-control" style="color: #FF6700;"> صورة المنتج</label>
             <input type="file" required  asp-for="ImageUrl"  class="form-control" />
         </div>
        </div>
   
            <div class="col-md-6">
          <div class="form-group">
            <label     class="lable-control" style="color: #FF6700;"> وصف المنتج</label>
             <input required  asp-for="Description"  class="form-control" />
         </div>
        </div>

      
           <input   asp-for="WorkerId" type="hidden" />
    
                     <div class="col-md-6">
                         <div class="form-group">
                       
                              <label class="lable-control" style="color: #FF6700;"> موقع المتجر </label>
                        <select asp-for="Governorate"  class="form-control"  required>
                            
                            <option value="@GoverType.الشمال"   >شمال غزة</option>
                            <option value="@GoverType.غزة"  >غزة</option>
                            <option value="@GoverType.الوسطي" >الوسطى</option>
                            <option value="@GoverType.خانيونس" >خانيونس</option>
                            <option value="@GoverType.رفح " >رفح</option>
                        </select>
                       
                    </div>
                   </div>

                   
                     <div class="col-md-6">
                         <div class="form-group">
                       
                                 <label class="lable-control" style="color: #FF6700;"> قسم المتجر </label>
                        <select  asp-for="Section" class="form-control "  required>
                           
                            <option value="@SectionType.البناء"  >البناء</option>
                            <option value="@SectionType.الهندسة">الهندسة</option>
                            <option value="@SectionType.القصارة">القصارة</option>
                            <option value="@SectionType.الجبس">الجبس</option>
                            <option value="@SectionType.الدهان">الدهان</option>
                            <option value="@SectionType.النجارة">النجارة</option>
                            <option value="@SectionType.السباكة">السباكة</option>
                            <option value="@SectionType.الكهرباء">الكهرباء</option>
                            <option value="@SectionType.البلاط">البلاط</option>
                            <option value="@SectionType.الحدادة">الحدادة</option>
                        </select>
                      
                        </div>
                    </div>
        </div>
  
    

    <input type="submit" class="btn btn-warning"  value="Save"/>
     <a asp-controller="Store" asp-action="Index"class="btn btn-danger">Back</a>
</form>
