@model  UpdateProductViewModel

<form asp-action="Update" enctype="multipart/form-data">

     

    <div class="row">
       <div class="col-md-6">
          <div class="form-group">
            <label  class="lable-control" style="color: #FF6700;"> اسم العمل</label>
             <input required  asp-for="Name"  class="form-control" />
         </div>
        </div>

      <div class="col-md-6">
          <div class="form-group">
            <label  class="lable-control" style="color: #FF6700;">سعر العمل  </label>
             <input required  asp-for="Price"  class="form-control" />
         </div>
          </div>
  


       <div class="col-md-6">
          <div class="form-group">
            <label  class="lable-control" style="color: #FF6700;"> صورة عمل</label>
             <input type="file" required  asp-for="ImageUrl"  class="form-control" />
         </div>
        </div>
   
            <div class="col-md-6">
          <div class="form-group">
            <label     class="lable-control" style="color: #FF6700;"> وصف العمل</label>
             <input required  asp-for="Description"  class="form-control" />
         </div>
        </div>

     
    
                     <div class="col-md-6">
                         <div class="form-group">
                       
                              <label class="lable-control" style="color: #FF6700;"> موقع العمل </label>
                        <select asp-for="Governorate"  class="form-control"  required>
                            
                            <option value="@GoverType.الشمال"   >شمال غزة</option>
                            <option value="@GoverType.غزة"  >غزة</option>
                            <option value="@GoverType.الوسطي" >الوسطى</option>
                            <option value="@GoverType.خانيونس" >خانيونس</option>
                            <option value="@GoverType.رفح " >رفح</option>
                        </select>
                       
                    </div>
                   </div>

                   
                     <div class="col-md-6">
                         <div class="form-group">
                       
                                 <label class="lable-control" style="color: #FF6700;"> قسم العمل </label>
                        <select  asp-for="Section" class="form-control "  required>
                           
                            <option value="@SectionType.البناء"  >البناء</option>
                            <option value="@SectionType.الهندسة">الهندسة</option>
                            <option value="@SectionType.القصارة">القصارة</option>
                            <option value="@SectionType.الجبس">الجبس</option>
                            <option value="@SectionType.الدهان">الدهان</option>
                            <option value="@SectionType.النجارة">النجارة</option>
                            <option value="@SectionType.السباكة">السباكة</option>
                            <option value="@SectionType.الكهرباء">الكهرباء</option>
                            <option value="@SectionType.البلاط">البلاط</option>
                            <option value="@SectionType.الحدادة">الحدادة</option>
                        </select>
                      
                        </div>
                    </div>
       
 
    <input type="submit" class="btn btn-warning"  value="حفظ"/>
     <a asp-controller="Store" asp-action="ViewProduct"class="btn btn-danger">رجوع</a>
      </div>
</form>

